body {background-color:#0CD4CB
}
h1 {font-size:45px;
   font-family:'Lucida Console', Monaco, monospace;
   text-align:center;
   background-color:white;
   max-width:80%;
   border:solid;
}
p {max-width:80%;
  font-size:;
  font-family:'Lucida Console', Monaco, monospace;
  border: solid;
  background-color:white;
}
h2 {font-size:25px;
   font-family:'Lucida Console', Monaco, monospace;
   background-color:white;
   border:solid;
   text-align:center;
   max-width:80%;
}
#gradphoto {width:17%;
           float:right;
           margin-top:3%;
           margin-right:5px;
}
