body {background-color:#0CD4CB
}
h1 {font-size:45px;
   font-family:'Lucida Console', Monaco, monospace;
   margin-top:-5px;
   margin-bottom:-2%;
   text-align:center;
   background-color:white;
}
p {max-width:85%;
  font-size:;
  font-family:'Lucida Console', Monaco, monospace;
  border: solid;
  background-color:white;
}
h2 {font-size:25px;
   font-family:'Lucida Console', Monaco, monospace;
   background-color:white;
}
